*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
::-moz-selection {
    background-color: #88d5f7;
    color: #fff
}
::selection {
    background-color: #88d5f7;
    color: #fff
}
html {
    font-size: 100%
}
body {
    margin: 0;
    font-family: 'Gotham Rounded A', 'Gotham Rounded B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #272b2d;
    line-height: 1.5;
	background-color: black;
}
h1,
h2,
h3,
strong {
    font-weight: 700
}
h1,
h2,
h3 {
    color: #000
}
h1 {
    margin: 0;
    font-size: 3em
}
h2 {
    margin: 1.875em 0;
    font-size: 1.75em;
    text-align: center
}
h3 {
    margin: 1.5em 0;
    font-size: 1.25em
}
h2,
h3 {
    line-height: 1.2
}
p {
    margin-bottom: 1.25em
}
a {
    color: #12acef;
    text-decoration: none;
    cursor: pointer
}
a:hover {
    color: #0d8ac1
}
ul {
    margin: 0 0 0 1.875em;
    padding: 0
}
ul li {
    list-style-type: disc;
    padding: .625em 0
}
ul li:last-child {
    padding-bottom: 0
}
.logo {
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center
}
.logo span:first-of-type {
    color: #ec008c
}
.logo span:last-of-type {
    color: #12acef
}
.content {
    margin: 10em auto 0
}
section {
    padding-bottom: 1.875em;
    margin-bottom: 1.875em;
    border-bottom: 1px solid #e6eaed
}
footer {
    padding-bottom: 1.875em
}
footer a {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
}
@media screen and (max-width: 31.25em) {
    h1 {
        font-size: 2.2em
    }
}
@media screen and (max-width: 48em) {
    .content {
        width: 90%
    }
}
@media screen and (min-width: 48.0625em) {
    .content {
        width: 60%
    }
}
@media screen and (min-width: 68.75em) {
    .content {
        width: 45%
    }
}
a.button {
    border: none;
    display: inline-block;
    border-radius: 3px;
    padding: 10px 15px;
    background-color: #12acef;
    font-size: inherit;
    font-weight: 700;
    text-align: center;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in
}
a.button:hover {
    color: #fff;
    background-color: #59c5f4
}
a.button:focus {
    outline: 0
}
.github-fork {
    position: absolute;
    top: 100%;
    right: 0;
    overflow: hidden;
    width: 20em;
    height: 11.6em
}
.github-fork .button {
    display: block;
    border-radius: 0;
    height: 2.5em;
    -webkit-transform: translate(50%, -50%) rotate(45deg) translate(0, 7em);
    z-index: 2
}
.message.kickstarter-flag {
    padding: 10px;
    position: relative;
    background-color: #e7f7fd;
    font-size: 15px;
    text-align: center;
    color: #12acef
}
.message.kickstarter-flag a {
    font-weight: 700
}
pre {
    margin: 0;
    white-space: pre-wrap
}
pre code {
    border-radius: 3px;
    padding: 1.25em;
    overflow: hidden;
    display: block;
    font-size: .875em;
    color: #b7c0c3;
    background: #002531;
    font-family: Menlo, Monaco, Consolas, monospace
}
.hljs-comment,
.hljs-diff .header,
.hljs-javadoc,
.hljs-template_comment {
    color: #67777c
}
.hljs-at_rule,
.hljs-css .rule .keyword,
.hljs-javascript .title,
.hljs-keyword,
.hljs-nginx .title,
.hljs-request,
.hljs-status,
.hljs-subst,
.hljs-winutils {
    color: #438193
}
.hljs-phpdoc,
.hljs-string,
.hljs-tag .value,
.hljs-tex .formula {
    color: #d4007e
}
.hljs-coffeescript .params,
.hljs-scss .preprocessor,
.hljs-title {
    color: #71adbe;
    font-weight: 700
}
.hljs-built_in,
.hljs-class .title,
.hljs-clojure .built_in,
.hljs-django .tag .keyword,
.hljs-haskell .type,
.hljs-lisp .title,
.hljs-rules .property,
.hljs-tag,
.hljs-tag .title,
.hljs-tex .command,
.vhdl .literal {
    color: #fff
}
.hljs-attribute,
.hljs-cdata,
.hljs-doctype,
.hljs-lisp .body,
.hljs-pi,
.hljs-pragma,
.hljs-preprocessor,
.hljs-shebang,
.hljs-variable {
    color: #bec6c9
}
.hljs-addition,
.hljs-regexp {
    color: $green
}
.hljs-deletion,
.hljs-lisp .keyword,
.hljs-prompt,
.hljs-ruby .symbol .string,
.hljs-symbol,
.hljs-tex .special {
    color: #a50062
}
.hljs-diff .change {
    background: 0 0
}
